<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col" *ngFor="let usuario of usuarios">
        <!-- CARD -->
        <div class="card">
            <!-- CARD IMAGE -->
            <img [src]="usuario.avatar" class="card-img-top" width="150" alt="avatar del usuario">
            <!-- CARD BODY -->
            <div class="card-body">
                <h5 class="card-title">{{ usuario.last_name }} / {{ usuario.first_name }}</h5>
                <p class="card-text text-muted"> 
                    <span class="text-muted">{{ usuario.email }}  / UUID: {{ usuario.id }} </span> 
                </p>
            </div>

        </div>

    </div>

</div>